.contactForm {

    width: 390px;
    height: auto;

    /* border: 2px solid rgb(110, 114, 153);
    border-radius: 8px; */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;


}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    font-weight: 500;
    color: rgb(110, 114, 153);
}

:hover.input {
    color: rgb(50, 59, 129)
}

.input {
    width: 350px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid rgb(110, 114, 153);
    padding-right: 15px;
    padding-left: 15px;


}